.scrolling-container {
    animation: scroll-right-to-left 40s linear infinite;
}

@keyframes scroll-right-to-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
