<div class="flex flex-col w-full h-full items-center">
    <div class="flex items-center w-full p-2 z-20">
        <div class="md:flex items-center flex-1 space-x-2 hidden">
            <a (click)="scrollTo('faq')" class="btn btn-ghost">FAQ</a>
            <a (click)="scrollTo('community')" class="btn btn-ghost">Wall of <i class="fa-regular fa-heart"></i></a>

            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost m-1 whitespace-nowrap flex-nowrap">Product <i
                        class="fa-solid fa-chevron-down text-xs"></i></div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li *ngFor="let link of links" (click)="scrollTo(link.anchor)"><a
                            class="font-semibold">{{link.name}}</a>
                </ul>
            </div>
        </div>

        <div (click)="toggleMenu()" class="md:hidden mx-4 cursor-pointer"><i class="fa-solid fa-bars"></i></div>
        <div class="flex items-center justify-center md:flex-1 cursor-pointer">
            <img src="../../../assets/images/logo/logo.png" routerLink="/" class="h-10 hidden lg:flex"
                alt="Properma Logo">
            <img src="../../../assets/images/logo/logo_image_only.png" routerLink="/" class="h-10 lg:hidden"
                alt="Properma Logo">
        </div>

        <div class="flex items-center flex-1 justify-end gap-2">
            <a href="mailto:{{apiService.email}}"><button class="btn btn-neutral">Contact</button></a>
            <button routerLink="/login" class="btn btn-primary">Login</button>
        </div>
    </div>

    <div (click)="toggleMenu()" id="mobilenavMenu"
        class="flex flex-col -translate-x-full fixed w-screen h-screen top-0 left-0 bg-base-100 z-30 p-6 ease-in-out duration-300 cursor-pointer">
        <div class="flex items-center justify-between flex-row-reverse">
            <i class="fa-solid fa-xmark"></i>
            <img src="../../../assets/images/logo/logo.png" routerLink="/" class="h-10 lg:hidden" alt="Properma Logo">
        </div>
        <div class="flex flex-col flex-1 my-2">
            <ul class="">
                <li *ngFor="let link of links" (click)="scrollTo(link.anchor)" class="text-2xl font-semibold mt-4">
                    {{link.name}}</li>
            </ul>
        </div>
        <button routerLink="/login" class="btn btn-primary">Login</button>
    </div>


    <div class="flex flex-col w-full h-full overflow-scroll items-center px-8 space-y-12 max-w-screen-xl no-scrollbar">


        <div class="flex flex-col items-center space-y-16 h-full justify-center my-12 md:my-20 lg:my-32">
            <div class="flex flex-col sm:flex-row items-center gap-3 text-xs sm:text-base">
                <div class="flex items-center space-x-1 text-primary">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Loved by 1'000 companies</p>
            </div>

            <div class="space-y-4 flex flex-col items-center">
                <div class="flex">
                    <h1 class="font-bold text-6xl md:text-7xl lg:text-8xl text-center">Manage your<br>projects
                        efficiently</h1>
                </div>
                <div class="flex max-w-prose">
                    <h2 class="text-xl text-center">Add skills, projects and users. Start to manage project
                        resources in a minute. It's easier than you think.</h2>

                </div>
            </div>


            <br>
            <button class="btn btn-lg btn-primary">Start now</button>

        </div>
        <br><br><br><br>






        <div id="features" class="w-full">

        </div>


        <div id="pricing" class="flex flex-col w-full bg-base-300 p-6 rounded-3xl gap-4">
            <div class="flex flex-col space-y-2 items-center w-full">
                <h1 class="text-xl font-bold"><span class="text-primary"><i class="fa-solid fa-ruble-sign"></i></span>ricing</h1>
                <!-- <hr class="bg-primary h-1.5 border-0 rounded"> -->
            </div>

            <div class="overflow-x-auto">
                <table class="table">
                  <thead class="text-center">
                    <tr>
                      <th class="whitespace-nowrap"></th> 
                      <th *ngFor="let plan of plans.types">
                        <div class="flex flex-col items-center justify-end">
                            <p class="text-xl">{{plan.title}}</p>
                            <div class="flex items-center gap-2">
                                <p class="text-3xl font-bold">${{plan.price}}</p>
                                <p class="opacity-50">/user/month</p>
                            </div>
                        </div>
                      </th> 
                    </tr>
                  </thead> 
                  <tbody class="text-center">
                    <tr *ngFor="let content of plans.content">
                        <th>{{content.title}}</th>
                        <td *ngFor="let included of content.included">
                            <i *ngIf="included == 'true'" class="fa-solid fa-check text-primary"></i>
                            <i *ngIf="included == 'false'" class="fa-solid fa-xmark"></i>
                            <p *ngIf="included != 'true' && included != 'false'">{{included}}</p>
                        </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th> 
                      <th></th> 
                      <th></th> 
                    </tr>
                  </tfoot>
                </table>
              </div>

        </div>


        <div id="community" class="w-full flex flex-col space-y-4 bg-base-300 p-6 rounded-3xl">
            <div class="flex flex-col items-center w-full">
                <h1 class="text-xl font-bold">Wall of <i class="fa-solid fa-heart text-primary"></i></h1>
            </div>
            <div class="flex overflow-hidden">
                <div class="flex items center h-8 md:h-12 gap-8 scrolling-container w-full">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                    <img src="=../../../assets/images/monochrome_logos/kwo.svg" class="" alt="logo">
                </div>
            </div>

        </div>


        <div id="faq" class="w-full max-w-screen-md">
            <div class="flex flex-col items-center w-full">
                <h1 class="text-xl font-bold">F.A.Q.</h1>
            </div>
            <div *ngFor="let faq of faqs" class="collapse collapse-plus bg-base-200 my-2">
                <input type="radio" name="my-accordion-3" checked="checked" />
                <div class="collapse-title text-xl font-medium">
                    {{faq.question}}
                </div>
                <div class="collapse-content">
                    <p>{{faq.answer}}</p>
                </div>
            </div>
        </div>



    </div>
</div>