<div class="flex w-full min-h-full flex-col p-8 space-y-8">
  <div class="flex flex-col">
    <h1 class="text-4xl font-semibold">Dashboard</h1>
  </div>
  <div class="flex flex-col space-y-4">
    <div class="badge badge-outline">coming soon</div>


    <div class="flex flex-col gap-4 w-full">
      <div class="skeleton h-32 w-full"></div>
      <div class="skeleton h-4 w-28"></div>
      <div class="skeleton h-4 w-96"></div>
      <div class="skeleton h-4 w-52"></div>
    </div>

    <div class="divider"></div>

    <div class="flex space-x-4">
      <div class="flex w-full h-52 skeleton"></div>
      <div class="flex w-full h-52 skeleton"></div>
    </div>






  </div>
</div>